<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title><%= post.titulo %></title>
</head>

<body>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
    <%- include('extras/header') %>
    
    <div class="container bg-dark text-white bottom-space top-space">
        <div class="row">
            <div class="col-md-8">
                <h1><%= post.titulo %></h1>
                <p><%= post.conteudo %></p>
            </div>

            <!-- Coluna para a imagem e a tabela -->
            <div class="col-md-4">
                <div class="d-flex flex-column bg-light all-space">
                    <img src="data:image/png;base64,<%= post.imagem %>" class="img-fluid mb-3" alt="...">
                    <table class="table text-dark">
                        <tbody>
                            <tr>
                                <td>Nome</td>
                                <td>A Casa da Coruja</td>
                            </tr>
                            <tr>
                                <td>Criação</td>
                            </tr>
                            <tr>
                                <td>Nome</td>
                            </tr>
                            <tr>
                                <td>Elenco</td>
                            </tr>
                            <tr>
                                <td>Estrelando</td>
                            </tr>
                            <tr>
                                <td>Gêneros</td> 
                            </tr>
                            <tr>
                                <td>Produzido por</td>
                            </tr>
                            <tr>
                                <td>Idiomas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <a href="/">
                <button type="button" class="btn btn-primary">Voltar</button>
            </a>
        </div>
    </div>
</body>

</html>
